html, body, #home {
    
    overflow-x: hidden;
}



#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}


@media (min-width: 280px) and (max-width: 360.98px) {
	.display-4 {
		font-size: 2em;
	}

	.btn-lg{
		font-size: 0.888rem;
		
	}

	    


       
}


@media (min-width: 360px) and (max-width: 576.98px) {
    .display-4 {
		font-size: 3em;
	}

         

       
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    

   
          

        
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
          
           
            
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
          
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
 }

